#home-cont {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../../src/assets/Sprinkle.svg);
  background-size: cover;
  background-position: center;
}

#main-top-cont {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#main-top-left {
  width: 30%;
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}

h1 {
  width: 128px;
  font-weight: 400;
  letter-spacing: 0.09em;
  line-height: 250%;
  font-size: 25px;
  margin-top: 70px;
}

#button {
  margin-top: auto;
  border: none;
  background-color: #09304d;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  margin-bottom: 50px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 0.3s all;
}

#button:hover {
  transform: scale(1.05);
}

.heading-highlight {
  color: #f6575e;
  font-weight: 500;
}

#mountain {
  width: 200px;
  height: 300px;
  border-radius: 4px;
  margin-right: 10px;
}

#main-mid-cont {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#paragraph {
  color: white;
  font-size: 13px;
  width: 170px;
  letter-spacing: 1px;
  line-height: 100%;
  font-weight: 200;
}

#models1 {
  width: 180px;
  height: 120px;
  border-radius: 4px;
}

#main-bot-cont {
  height: 300px;
  display: flex;
}

#gallery {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

@media screen and (min-width: 530px) {
  #nav-logo {
    width: 200px;
  }

  #nav-links-cont {
    width: 250px;
    font-size: 1.3em;
  }

  #mountain {
    width: 240px;
    height: 340px;
    margin-right: 50px;
  }

  h1 {
    font-size: 30px;
  }

  #models1 {
    width: 240px;
    height: 160px;
  }

  #paragraph {
    font-size: 19px;
    width: 240px;
  }
}

@media screen and (min-width: 725px) {
  #nav-links-cont {
    width: 300px;
    font-size: 1.5em;
  }

  #mountain {
    width: 270px;
    height: 370px;
  }

  h1 {
    font-size: 40px;
  }

  button {
    font-size: 25px;
    padding: 10px 30px;
  }

  #main-mid-cont {
    height: 250px;
  }

  #models1 {
    width: 260px;
    height: 180px;
  }

  #paragraph {
    font-size: 23px;
    width: 300px;
  }

  #gallery {
    object-position: center;
  }
}

@media screen and (min-width: 850px) {
  #nav-logo {
    width: 250px;
  }

  #nav-links-cont {
    width: 375px;
    font-size: 1.7em;
  }

  #main-top-cont {
    height: 500px;
  }

  h1 {
    font-size: 50px;
  }

  #mountain {
    width: 330px;
    height: 430px;
  }

  #gallery {
    object-position: center 40%;
  }

  #models1 {
    width: 290px;
    height: 210px;
  }

  #paragraph {
    width: 330px;
    font-size: 26px;
  }

  #main-bot-cont {
    height: 500px;
  }
}

@media screen and (min-width: 1000px) {
  #nav-logo {
    width: 300px;
  }

  #nav-links-cont {
    width: 500px;
    font-size: 1.9em;
    margin-right: 50px;
  }

  #main-top-cont {
    height: 600px;
  }

  h1 {
    font-size: 70px;
    line-height: 200%;
  }

  #mountain {
    width: 360px;
    height: 500px;
  }
}

@media screen and (min-width: 1200px) {
  #nav-links-cont {
    width: 600px;
    font-size: 2.1em;
  }

  #mountain {
    width: 390px;
    height: 530px;
  }

  button {
    font-size: 35px;
    padding: 10px 40px;
  }

  #main-mid-cont {
    height: 300px;
  }

  #paragraph {
    width: 430px;
    font-size: 30px;
  }
  #models1 {
    width: 330px;
    height: 250px;
  }
}

@media screen and (min-width: 1400px) {
  #nav-links-cont {
    width: 700px;
    font-size: 2.3em;
  }

  #main-top-cont {
    height: 700px;
  }

  h1 {
    font-size: 5em;
  }

  #mountain {
    width: 430px;
    height: 570px;
    margin-right: 200px;
  }

  #main-mid-cont {
    height: 500px;
  }

  #main-bot-cont {
    height: 600px;
  }

  #paragraph {
    width: 550px;
    font-size: 40px;
  }
  #models1 {
    width: 500px;
    height: 325px;
  }
}
