* {
  margin: 0;
}
#shop-cont {
  background-image: url(../../src/assets/Sprinkle.svg);
  background-size: cover;
  background-position: center;
}

.row {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.row-cards {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding-top: 20px;
  padding-bottom: 20px;
}

.row-cards::-webkit-scrollbar {
  display: none;
}

.row-heading {
  color: white;
  margin-left: 10px;
  margin-bottom: 15px;
}

.card-cont {
  width: 200px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  margin-left: 25px;
  margin-right: 25px;
}

.image-cont {
  width: 200px;
  height: 300px;
  background-color: white;
  border-radius: 8px;
  transition: 0.3s all;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.image-cont:hover {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  transform: scale(1.05);
}

.card-name {
  padding-top: 10px;
}

#cart {
  height: 75px;
  width: 75px;
  background-color: #09304d;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 31px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ac5416;
  cursor: pointer;
}

#cart:hover > #cartIcon,
#cart:hover > #cartNum {
  transform: scale(1.1);
}

#cartIcon {
  box-shadow: none;
  width: 45px;
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(114deg)
    brightness(108%) contrast(101%);
  -webkit-user-drag: none;
  transition: 0.3s all;
}

#cartNum {
  color: #f6575e;
  position: absolute;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 5px;
  user-select: none;
  transition: 0.3s all;
}

#open-cart {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  max-width: 500px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#close {
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  width: 30px;
  margin-top: 10px;
}

@media screen and (min-width: 1000px) {
  .card-cont {
    width: 400px;
    height: 500px;
  }

  .image-cont {
    width: 400px;
    height: 500px;
  }

  #cart {
    height: 100px;
    width: 100px;
  }

  #cartIcon {
    width: 60px;
  }

  #cartNum {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
}
