* {
  margin: 0;
}
body,
html,
#root {
  height: 100%;
  width: 100%;
  background-color: #0c4770;
  font-family: "Montserrat", sans-serif;
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4770;
  color: white;
}
