* {
  margin: 0;
}
body,
html,
#root {
  height: 100%;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background-color: #156eac;
}

nav {
  background-color: #156eac;
}

img {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

#home-nav-cont {
  min-height: 50px;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

#home-main-cont {
  height: 100%;
}

#nav-logo {
  width: 150px;
  box-shadow: none;
}

#nav-links-cont {
  display: flex;
  justify-content: space-evenly;
  width: 170px;
  margin-right: 20px;
}

.nav-link {
  color: white;
  text-decoration: none;
  transition: 0.3s transform;
}
.activeNav {
  text-decoration: underline;
}

.nav-link:hover {
  color: #f6575e;
  text-decoration: underline;
  transform: scale(1.05);
}

footer {
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c4770;
  color: white;
}

#footer-link {
  color: white;
  text-decoration: none;
  transition: 0.3s all;
}

#footer-link:hover {
  color: #f6575e;
}
